.img_box img {
  width: 100%;
  border-radius: 8px;
}
.img_box {
  margin: 8px 12px;
}
.flex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 768px) {
  .flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
